.button1 {
    text-align:right;
    display: flex;
    height: 50px;
    padding: 0;
    background: #009578;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button1:hover {
    background: #008168;
  }
  
  .button1:active {
    background: #006e58;
  }
  
  .button1__text,
  .button1__icon {
    display: inline-flex;
    align-items: center;
    padding: 0 24px;
    color: #fff;
    height: 100%;
  }
  
  .button1__icon {
    font-size: 1.5em;
    background: rgba(0, 0, 0, 0.08);
  }